.EditForm2{
    flex-direction: column;
    position: fixed;
    background-color: black;
    opacity: 0.9;
    display: flex;
    align-items: center;
    inset: 0;
    justify-content: center;
}
.main-form{
    display: flex;
    justify-content: center;
    font-weight: 600;
    border-radius: 6px;
    flex-direction: column;
    position: fixed;
    inset: 28% 38%;
    background-color: brown;
}
input{
    margin: 3px;
}
